img {
  width: 80%;
}

.container {
  min-height: 80vh;

  .login-img {
    animation: img-anim 0.8s ease;
  }

  .login-form {
    animation: form-anim 0.8s ease;
  }
}

a {
  margin-bottom: 24px;
}

@keyframes form-anim {
  0% {
    opacity: 0;
    transform: translateX(20%);
  }
}

@keyframes img-anim {
  0% {
    opacity: 0;
    transform: translateX(-20%);
  }
}
