.pet-card {
  height: 340px;
  width: 280px;
  padding: 24px;
  overflow: hidden;
  background-color: white;
  border-radius: 8px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.03);
  cursor: pointer;
  transition: all 0.4s ease;
}

.pet-card a {
  text-decoration: none;
  color: black;
}

/* 
      Hover de cada tarjeta
      Aumenta el tamaño de la imagen al pasar el cursor
  */
.pet-card:hover {
  transform: scale(1.1);
}

/* Aumenta levemente el tamaño de la foto de la mascota */
.pet-card:hover .pet-img img {
  transform: scale(1.08);
}

/* Nombre de la mascota */
.pet-card h3 {
  font-size: 1.4em;
  font-weight: 600;
  margin-bottom: 16px;
  text-align: center;
}

/* Foto de la mascota */
.pet-card .pet-img {
  overflow: hidden;
  border-radius: 8px;
  height: 70%;
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pet-img img {
  width: 100%;
  transition: all 1s ease;
}

/* contenedor de la ubicación y edad de la mascota */
.pet-info-row {
  display: flex;
}

/* Tamaño para los íconos de las imagenes */
.pet-info-row img {
  width: 24px;
  margin-right: 16px;
}

.pet-info {
  display: flex;
  justify-content: space-between;
}
