<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span routerLink="/">HelpPet</span>
  <span class="spacer"></span>
  <span class="example-spacer"></span>

  <button mat-flat-button color="primary" (click)="signOut()" *ngIf="isLogin">
    Cerrar sesión
  </button>

  <button
    mat-stroked-button
    color="primary"
    routerLink="/auth/login"
    *ngIf="!isLogin"
  >
    Iniciar Sesión
  </button>

  <button
    mat-flat-button
    color="primary"
    routerLink="/auth/signup"
    *ngIf="!isLogin"
  >
    Crear una cuenta
  </button>
</mat-toolbar>

<!-- <mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span routerLink="/">My App</span>
  <span class="example-spacer"></span>
  <button class="btn btn-primary-outline" routerLink="/auth/login">
    Iniciar Sesión
  </button>
  <button class="btn btn-primary" routerLink="/auth/signup">
    Crear una cuenta
  </button>
</mat-toolbar>
 -->
