<div class="container pet-detail" *ngIf="pet">
  <div class="pet-img">
    <div class="img">
      <img [src]="pet.photoUrl" [alt]="pet.name" />
    </div>
  </div>
  <div class="pet-info">
    <div class="header">
      <h2>{{ pet.name }}</h2>
      <p>{{ pet.description }}</p>
    </div>

    <div class="info">
      <div matTooltip="Edad de la mascota">
        <img src="../../../../assets/icons/age.png" alt="" />
        <span>{{ pet.age }} {{ pet.age | i18nPlural: ageMap }}</span>
      </div>

      <div matTooltip="Tipo de animal">
        <img [src]="pet.kind | petImg" alt="" />
        <span>{{ pet.kind | petKind }}</span>
      </div>

      <div matTooltip="Ubicación">
        <img src="../../../../assets/icons/location.png" alt="" />
        <span>{{ pet.location }}</span>
      </div>
    </div>

    <div class="buttons">
      <button mat-stroked-button color="primary">Contactar con el dueño</button>
      <button mat-flat-button color="primary">¡Quiero adoptarlo!</button>
    </div>
  </div>
</div>
