<!-- Spinner -->
<div class="spinner" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>

<div class="container pet-detail" *ngIf="!isLoading">
  <!-- Pet img -->
  <div class="pet-img">
    <img [src]="pet.photoUrl" [alt]="pet.name" />
  </div>

  <!-- Pet info -->
  <div class="pet-info">
    <div class="header">
      <h2>{{ pet.name }}</h2>

      <span>Descripción</span>
      <p>{{ pet.description }}</p>

      <span>Fecha de publicación</span>
      <p>{{ pet.postDate | date: "medium" }}</p>
    </div>

    <div class="info">
      <div>
        <img src="../../../../assets/icons/age.png" alt="" />
        <span>{{ pet.age }} {{ pet.age | i18nPlural: ageMap }}</span>
      </div>

      <div>
        <img [src]="pet.kind | petImg" alt="" />
        <span>{{ pet.kind | petKind }}</span>
      </div>

      <div>
        <img src="../../../../assets/icons/location.png" alt="" />
        <span>{{ pet.location }}</span>
      </div>
    </div>

    <div class="buttons">
      <button
        mat-stroked-button
        color="primary"
        [routerLink]="['/user', pet.ownerId]"
      >
        Contactar con el dueño
      </button>
      <button mat-flat-button color="primary">¡Quiero adoptarlo!</button>
    </div>
  </div>
</div>
