.container {
  min-height: 80vh;

  .signup-img {
    animation: img-anim 0.8s ease;
  }

  .signup-form {
    animation: form-anim 0.8s ease;
  }
}

a {
  margin-bottom: 16px;
}

@keyframes form-anim {
  0% {
    opacity: 0;
    transform: translateX(20%);
  }
}

@keyframes img-anim {
  0% {
    opacity: 0;
    transform: translateX(-20%);
  }
}
