.card {
  width: 100%;
  padding: 8px;
  transition: all 0.3s ease;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.card:hover {
  transform: scale(1.05);
}

.img {
  width: 100px;
  height: 100px;
  background-color: orange;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
  }
}

.info {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    font-size: 1.5em;
    text-align: left;
  }

  .items {
    width: 100%;
    display: flex;
    justify-content: space-between;

    div {
      padding: 4px 32px;
      border-radius: 8px;
      background: #ede4d0;
      color: #000;
    }
  }
}
