<div class="container">
  <!-- Info and button -->
  <div class="info">
    <h1>HelpPet</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime qui nihil
      saepe numquam provident natus quae illo tempore recusandae ratione?
    </p>
    <button mat-raised-button color="primary">Entrar</button>
  </div>

  <!-- Landing page img -->
  <div class="landing-img">
    <img
      src="../../assets/home.png"
      alt="Help-pet home image"
      class="home-img"
    />
  </div>
</div>
