.profile-container {
  width: 680px;
  min-height: 80vh;
  margin: 16px auto;
}

.tab {
  padding: 16px;
  min-height: 500px;

  .card {
    .buttons {
      width: 100%;
      display: flex;
      justify-content: right;
      gap: 16px;
    }
  }
}

.profile-card {
  padding: 48px;

  span {
    display: inline-block;
    color: #ccc;
    margin-top: 8px;
    margin-bottom: 4px;
  }

  .profile-card-header {
    display: flex;
    justify-content: space-between;

    /* Card header img */
    .img {
      width: 180px;
      height: 180px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;

      img {
        width: 100%;
      }
    }

    /* Card header info */
    .info {
      text-align: right;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h2 {
        font-size: 2.5em;
      }

      div {
        display: flex;
        align-items: center;
        justify-content: right;
        gap: 16px;
        margin-bottom: 8px;

        p {
          margin-top: 8px;
        }
      }
    }
  }

  /* Profile card content */
  .profile-card-content {
    margin-top: 24px;
    text-align: left;
  }

  .editProfile {
    float: right;
  }
}

.pets-list {
  width: 100%;
}

.row-2 {
  display: flex;
  gap: 8px;
}
